<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,273},{62,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,91},{66,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,188},{64,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{64,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,265},{60,78}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{60,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{62,82}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,91},{66,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{66,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,360},{56,90}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,350},{56,90}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,360},{54,92}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{70,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{70,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{70,90}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{70,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,168},{64,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,172},{62,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,95},{64,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{64,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{64,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{64,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,178},{60,90}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{60,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,259},{62,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{62,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{66,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{66,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,344},{56,90}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,269},{56,90}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,360},{54,90}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{70,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{70,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,89},{70,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{70,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{64,78}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-death-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{62,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{62,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-death-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{74,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{74,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player01-death-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{76,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy_player-evo-04.png</string>
            <key>size</key>
            <string>{363,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f191366e5c467db5ee57187e4f4b9b4:81f8748ba38e227402ca7bc17ff6db3c:e1c2562a60cbe20f0a4d25812d815efd$</string>
            <key>textureFileName</key>
            <string>boy_player-evo-04.png</string>
        </dict>
    </dict>
</plist>
